/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */
.top-bar-menu-login a
{
    font-size: 17px;
    padding-left: 0;
    padding-right: 0px;
}
.fl-page-nav-search .fa-search:before
{
    font-size: 17px;
    color: #f69520;
}
#menu-top li a{
    padding-left: 0px;
}
.page-breadcrumb{

}
.page-breadcrumb .breadcrumb ul{
    display: flex;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.page-breadcrumb .breadcrumb ul li{
float: left;
    display: inline-block;
}
.page-breadcrumb .breadcrumb ul li:not(:last-child):after{
    content: '>';
    padding: 10px;
}
.page-breadcrumb .breadcrumb ul li a{

}
.fl-row-content-wrap{
    padding-top: 0px;
    padding-bottom: 0px;
}
.list-action-top{
  display: block;
    float: right;
}
.list-action-top__action{
    width: 70px;
    float: left;
}
.fl-page-nav-search{
    display: block;
}
.list-action-top__action ul li a:hover{
    background: none;
}

@media (max-width: 400px) {
    .fl-page-nav-search form{
        max-width: 350px;
    }
}

/* Fix issues with jquery overlay blocking checkout button */
.woocommerce .blockUI.blockOverlay {
    position: relative!important;
    display: none!important;
}